node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
*/bin
*/obj
README.md
LICENSE
.vscode
coverage
test
__tests__
*.test.ts
jest.config.js
yarn-error.log
Thumbs.db
.DS_Store
private.key
server.crt